* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%; 
    border: none; 
    outline: none; 
    font-weight: 300; 
}

html,
body {
    font-family: 'Archivo', sans-serif;
    color: $general-text-color;
    background-color: $background-color;
}