.carousel {
  background: $background-color;
  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel-cell {
  width: 66%;
  height: 300px;
  margin-right: 100px;
  background-color: $preview-color;;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}
