@charset "UTF-8";
:root {
  font-size: 90%;
  /* controle das medidas rem */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Archivo', sans-serif;
  color: #5a5a5a;
  background-color: #ffffff;
}

#header {
  /*display: flex;*/
  height: 90px;
  width: 100%;
  background-color: #e7566e;
  /* Padrão */
  /* Menu Fixo */
  /* Estilo da lista do menu */
}

#header ul {
  list-style: none;
  font-size: 1.2rem;
}

#header #menu-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999;
  left: 0%;
  right: 0%;
  top: 0;
  overflow: hidden;
  height: 60px;
  background-color: #e7566e;
  /* Lista de links do menu fixo */
}

#header #menu-fixed #top-menu-list ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
}

#header #menu-fixed #top-menu-list ul a {
  width: 50px;
  color: #ececec;
  text-decoration: none;
  font-size: 1.2rem;
}

#header #menu-fixed #top-menu-list ul i {
  padding: 10px;
}

#header #main-menu #button-menu-list i {
  padding: 10px;
}

#header #main-menu ul {
  padding-top: 50px;
  z-index: 999;
  margin: 0px;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #main-menu ul a {
  padding: 5px 5px 5px 5px;
  margin-right: 40px;
  /* visual do link */
  color: #ececec;
  text-decoration: none;
  font-size: 1.2rem;
}

#header #main-menu ul a:hover {
  color: #FFFFFF;
}

/* Separador do links principal da lista */
.divider-li {
  padding-right: 15%;
}

/* Botão geral */
.botao {
  background-color: #D90429;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botao:hover {
  background: #b90523;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

/* Categoria de Produtos */
#category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  min-height: 300px;
  width: 250px;
  padding: 100px 0px 0px 100px;
  /* Titulo do bloco de Categorias */
  /* Configuração da lista de Categorias */
}

#category .title-category {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 15px;
}

#category .list-category {
  text-decoration: none;
  list-style: none;
  /* Elementos da categoria */
}

#category .list-category .itens-category {
  padding: 15px 0px 10px 0px;
  color: general-text-color;
  padding-left: 10px;
  cursor: pointer;
  font-weight: 500;
}

#category .list-category .itens-category:hover {
  color: #D90429;
  text-decoration: underline;
}

/* conjunto de campo */
fieldset {
  border: 0;
}

/* Configurações dos componentes do Formulário */
input,
select,
textarea,
button {
  font-size: 1em;
}

/* Configuração do Formulário */
#contact-form {
  display: -ms-grid;
  display: grid;
  /* Tipo de exibição */
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(2, 1fr);
  /* 2 elementos na horizontal emm 1 vertical */
  padding-bottom: 20px;
  max-width: 100%;
  margin: 0 auto;
  grid-gap: 0px;
  background-color: #ffffff;
  place-items: center;
  /* ID do Formulário */
}

#contact-form #forms {
  width: 100%;
  padding-left: 18%;
}

/* Campos */
.field {
  margin-bottom: 1em;
}

/* Textos que rotulam os campos */
.field label {
  margin-bottom: 0.5em;
  color: #5a5a5a;
  display: block;
  font-size: 1.2rem;
}

/* Sustentação do conjunto de campos */
fieldset.group .field {
  float: left;
  margin-right: 1em;
}

/* Configuração dos campos de entrada */
.field input[type="text"],
.field input[type="email"],
.field input[type="url"],
.field input[type="tel"],
.field select,
.field textarea {
  padding: 0.3em;
  border: 2px solid #f0e6e6;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(77, 74, 74, 0.2);
          box-shadow: 2px 2px 2px rgba(77, 74, 74, 0.2);
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

/* Campo de opção */
.field select option {
  padding-right: 1em;
}

/* Ação ao dar foco nos campos */
.field input:focus,
.field select:focus,
.field textarea:focus {
  background: #ffffff;
  border: 2px solid #8D99AE;
}

/* Ação ao passar mouse nos campos */
.field input:hover,
.field select:hover,
.field textarea:hover {
  border: 2px solid #8D99AE;
}

/* Ação quando os campos são ativados */
.field input:active,
.field select:active,
.field textarea:active {
  border: 2px solid #8D99AE;
}

/* Campo de seleção da caixa */
.field label.checkbox {
  color: #757575;
  display: inline-block;
  margin-right: 1em;
  font-size: 1rem;
}

/* Mudança de formato do mouse ao passar pelos elementos */
.botao,
select,
label.checkbox {
  cursor: pointer;
}

.search-container {
  width: 40%;
}

.search-container form {
  text-align: center;
}

#header input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  width: 80%;
  outline: none;
}

#header .search-container button {
  padding: 6px 10px;
  margin-right: 16px;
  background: #ffffff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

#header .search-container button:hover {
  background: #e9e8e8;
}

/* Imagem ao lado do Formulário */
.image-form img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  opacity: 0.9;
}

/* Image de Formas de Pagamento */
.image-form-of-payment {
  width: 600px;
  height: 100px;
}

.carousel {
  background: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel-cell {
  width: 66%;
  height: 300px;
  margin-right: 100px;
  background-color: #dddddd;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}

/* Conteúdo principal */
#main-content {
  display: -ms-grid;
  display: grid;
  /* Tipo de exibição do conteúdo */
  -ms-grid-columns: (3fr);
      grid-template-columns: repeat(4, 3fr);
  /* 4 elementos horizontais e 3 verticais */
  max-width: 70%;
  padding-top: 70px;
  padding-left: 50px;
  margin: 0 auto;
  grid-gap: 100px 2px;
  /* Espaço entre os elementos */
  /* Bloco do Produto*/
}

#main-content .block-product {
  display: block;
  height: 350px;
  width: 250px;
  padding-top: 30px;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
  /* Imagem do Produto */
  /* Titulo do Produto */
  /* Bloco do Preço do Produto */
}

#main-content .block-product:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 5px 30px 5px rgba(99, 99, 99, 0.3);
  box-shadow: 5px 5px 30px 5px rgba(99, 99, 99, 0.3);
}

#main-content .block-product .product-image {
  width: 150px;
  height: 150px;
  padding-bottom: 10px;
}

#main-content .block-product .product-image:hover {
  opacity: 0.9;
}

#main-content .block-product .product-title {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

#main-content .block-product .price-block {
  padding: 10px 0px;
  /* texto de valor antigo do produto */
}

#main-content .block-product .price-block p {
  padding-bottom: 5px;
}

#main-content .block-product .price-block .strike {
  text-decoration: line-through;
  font-size: 0.9rem;
  text-align: center;
}

#main-content .block-product .sub-text {
  padding-top: 10px;
  font-size: 0.9rem;
}

/* Separador Pequeno */
.separator-small {
  padding: 30px 0px;
  background-color: #ffffff;
}

/* Separador Médio */
.separator-medium {
  padding: 50px 0px;
  background-color: #ffffff;
}

/* Separador Grande */
.separator-large {
  padding: 100px 0px;
  background-color: #ffffff;
}

/* Separador dom Imagem */
.separator-image {
  padding: 50px 0;
  background-color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Imagem do separador */
.separator-image-index img {
  width: 50%;
  height: 600px;
  opacity: 0.8;
  border-radius: 10px;
}

.price-separator {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(119, 119, 119, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(119, 119, 119, 0.75), rgba(0, 0, 0, 0));
}

.box {
  float: right;
  margin-left: 30px;
  height: 300px;
  /*Altura da linha*/
}

.linha-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  height: 600px;
  /*Altura da linha*/
  width: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(119, 119, 119, 0.534)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(119, 119, 119, 0.534), rgba(0, 0, 0, 0));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.right-spacer {
  padding-right: 50px;
}

.left-spacer {
  padding-right: 50px;
}

h1, h1, h3, h4, h5, h6 {
  color: #2B2D42;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
  padding-bottom: 50px;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

/* Formas de Pagamento */
#forms-payment {
  background-color: #ffffff;
  text-align: center;
  padding: 50px 0px 20px 0px;
  /* Texto Formas de Pagamento */
}

#forms-payment .featured-text {
  color: #b90523;
  font-size: 1.6rem;
  padding-bottom: 20px;
}

/* Endereço */
#address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(3, 1fr);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20%;
  max-width: 100%;
  margin: 0 auto;
  grid-gap: 10px;
  background-color: #f0f0f0;
}

/* Tamanho dos blocos de Endereço */
.locality {
  width: 33%;
}

/* Contatos */
#contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(2, 1fr);
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  margin: 0 auto;
  grid-gap: 0px;
  background-color: #f0f0f0;
  place-items: center;
}

/* Tamanho dos blocos de Endereço */
#contact div {
  width: 25%;
}

/* Imagens de Endereço */
#contact img {
  width: 50px;
  height: 50px;
}

/* Rodapé */
#bottom-footer {
  background-color: #e7566e;
  text-align: center;
  padding: 10px 0px 10px 0px;
  color: #FFFFFF;
}

/* Paginação */
.pagination {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 100px;
  /* Links de Paginação */
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

/* Quando os links são ativados */
.pagination a.active {
  background-color: #e7566e;
  color: white;
  border: 1px solid #e7566e;
}

/* Ao mover o mouse sobre os links */
.pagination a:hover:not(.active) {
  background-color: #e9e9e9;
}

/* Bloco de Boas vindas do site */
.welcome {
  padding-top: 50px;
  text-align: center;
  background-color: #ffffff;
}

.welcome h2 {
  padding-bottom: 10px;
  font-size: 1.8rem;
}

.welcome p {
  padding-bottom: 20px;
  font-size: 1.4rem;
}
/*# sourceMappingURL=main.css.map */